[submodule "extensions/SchemaJS"]
	path = extensions/SchemaJS
	url = https://github.com/jauntyjocularjay/SchemaJS.git
[submodule "kg"]
	path = kg
	url = https://www.github.com/jauntyjocularjay/KwikGit
